#media_player_line{
    width: 200px;
}
#playStop_button{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    width: 100px;
    height: 100px;
}
.playStop_button_img{
    width: 80px;
    height: 80px; 
    cursor: pointer;
}
/* all_done */